/*Phone*/
@media (max-width: 767px) {
  .product {
    grid-template-columns: auto;
  }
  .root {
    --cart-w: 0px;
  }
}

/*phone*/
@media (max-width: 1024px) {
  .product {
    grid-template-columns: auto auto;
  }
  :root {
    --cart-w: 300px;
  }
}

/* PC */
@media (min-width: 1024px) {
  .product {
    grid-template-columns: auto auto auto auto;
    gap: 30px;
  }
}
